@import url(../vendor/normalize.css);
@import url(../blocks/footer.css);
@import url(../blocks/page.css);
@import url(../blocks/form.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);

.noto-serif-uniquifier {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
